Repository onnx/onnx-mlir, pull requests merged in 2020-07, with the labels that each got.

#188 Compile cruntime with fpic
  .buildbot/z13.sh
  src/Runtime/CMakeLists.txt
Labels: runtime

#201 README change to add info on using prebuilt Docker images
  README.md
  docs/docker-example/.vscode/c_cpp_properties.json
  docs/docker-example/.vscode/launch.json
  docs/docker-example/.vscode/settings.json
  docs/docker-example/Dockerfile
Labels: documentation, good first issue

#195 Set alignment attribute to AllocOp of insertAllocAndDealloc()
  src/Conversion/ONNXToKrnl/ONNXToKrnlCommon.cpp
  src/Conversion/ONNXToKrnl/ONNXToKrnlCommon.hpp
Labels: ONNX IR and lowering

#164 Lower SqueezeOp to Krnl dialect
  src/Conversion/ONNXToKrnl/CMakeLists.txt
  src/Conversion/ONNXToKrnl/ConvertONNXToKrnl.cpp
  src/Conversion/ONNXToKrnl/ONNXToKrnlCommon.hpp
  src/Conversion/ONNXToKrnl/Tensor/Squeeze.cpp
  src/Dialect/ONNX/ONNXOps.cpp
  src/Dialect/ONNX/ONNXOps.td.inc
  test/backend/test.py
  test/mlir/onnx/onnx_lowering.mlir
  test/mlir/onnx/onnx_shape_inference.mlir
  utils/gen_onnx_mlir.py
Labels: ONNX IR and lowering

#180 Replace std.load/std.store by affine.load/affine.store
  src/Conversion/ONNXToKrnl/Math/Elementwise.cpp
  src/Conversion/ONNXToKrnl/Math/Gemm.cpp
  src/Conversion/ONNXToKrnl/Math/MatMul.cpp
  src/Conversion/ONNXToKrnl/Math/Reduction.cpp
  src/Conversion/ONNXToKrnl/Math/Softmax.cpp
  src/Conversion/ONNXToKrnl/NN/Conv.cpp
  src/Conversion/ONNXToKrnl/NN/Normalization.cpp
  src/Conversion/ONNXToKrnl/NN/Pooling.cpp
  src/Conversion/ONNXToKrnl/RNN/LSTM.cpp
  src/Conversion/ONNXToKrnl/RNN/RNNBase.cpp
  src/Conversion/ONNXToKrnl/RNN/RNNBase.hpp
  src/Conversion/ONNXToKrnl/Tensor/Concat.cpp
  src/Conversion/ONNXToKrnl/Tensor/Pad.cpp
  src/Conversion/ONNXToKrnl/Tensor/PadConstantValuePad.cpp
  src/Conversion/ONNXToKrnl/Tensor/Reshape.cpp
  src/Conversion/ONNXToKrnl/Tensor/Split.cpp
  src/Conversion/ONNXToKrnl/Tensor/Transpose.cpp
  test/mlir/onnx/onnx_enable_memory_pool.mlir
  test/mlir/onnx/onnx_lowering.mlir
  test/mlir/onnx/onnx_lowering_with_dealloc.mlir
Labels: KRNL IR and lowering

#187 Update llvm version
  .circleci/config.yml
  MLIR.cmake
  README.md
  docs/Dialects/onnx.md
  docs/README.md
  src/Conversion/ONNXToKrnl/Math/Gemm.cpp
  src/Conversion/ONNXToKrnl/Math/MatMul.cpp
  src/Conversion/ONNXToKrnl/Math/Softmax.cpp
  src/Conversion/ONNXToKrnl/NN/Conv.cpp
  src/Conversion/ONNXToKrnl/NN/Normalization.cpp
  src/Conversion/ONNXToKrnl/NN/Pooling.cpp
  src/Conversion/ONNXToKrnl/RNN/LSTM.cpp
  src/Conversion/ONNXToKrnl/RNN/RNNBase.hpp
  src/Conversion/ONNXToKrnl/Tensor/Identity.cpp
  src/Conversion/ONNXToKrnl/Tensor/Pad.cpp
  src/Conversion/ONNXToKrnl/Tensor/PadConstantValuePad.cpp
  src/Conversion/ONNXToKrnl/Tensor/Reshape.cpp
  src/Conversion/ONNXToKrnl/Tensor/Squeeze.cpp
  src/Conversion/ONNXToKrnl/Tensor/Transpose.cpp
  src/Conversion/ONNXToKrnl/Tensor/Unsqueeze.cpp
  src/Transform/LowerToLLVM.cpp
  test/mlir/krnl/constant.mlir
  test/mlir/krnl/reshape.mlir
  test/mlir/onnx/onnx_lowering.mlir
  test/mlir/onnx/onnx_lowering_with_dealloc.mlir
  utils/clone-mlir.sh
Labels: enhancement

#200 Remove optimize_loops/return_loops op.
  .azure-pipelines/Windows-CI.yml
  src/Conversion/ONNXToKrnl/Math/Elementwise.cpp
  src/Conversion/ONNXToKrnl/Math/Gemm.cpp
  src/Conversion/ONNXToKrnl/Math/MatMul.cpp
  src/Conversion/ONNXToKrnl/Math/Reduction.cpp
  src/Conversion/ONNXToKrnl/Math/Softmax.cpp
  src/Conversion/ONNXToKrnl/NN/Conv.cpp
  src/Conversion/ONNXToKrnl/NN/Normalization.cpp
  src/Conversion/ONNXToKrnl/NN/Pooling.cpp
  src/Conversion/ONNXToKrnl/ONNXToKrnlCommon.cpp
  src/Conversion/ONNXToKrnl/ONNXToKrnlCommon.hpp
  src/Conversion/ONNXToKrnl/RNN/LSTM.cpp
  src/Conversion/ONNXToKrnl/RNN/RNNBase.hpp
  src/Conversion/ONNXToKrnl/Tensor/Concat.cpp
  src/Conversion/ONNXToKrnl/Tensor/Pad.cpp
  src/Conversion/ONNXToKrnl/Tensor/PadConstantValuePad.cpp
  src/Conversion/ONNXToKrnl/Tensor/Split.cpp
  src/Conversion/ONNXToKrnl/Tensor/Transpose.cpp
  src/Dialect/Krnl/KrnlHelper.cpp
  src/Dialect/Krnl/KrnlHelper.hpp
  src/Dialect/Krnl/KrnlOps.cpp
  src/Dialect/Krnl/KrnlOps.td
  src/Transform/LowerKrnl.cpp
  test/mlir/krnl/ops.mlir
  test/mlir/onnx/onnx_enable_memory_pool.mlir
  test/mlir/onnx/onnx_krnl_global_elision.mlir
  test/mlir/onnx/onnx_lowering.mlir
  test/mlir/onnx/onnx_lowering_with_dealloc.mlir
Labels: KRNL IR and lowering

#183 Bundle individual memory pools into a single memory pool
  src/CMakeLists.txt
  src/Conversion/ONNXToKrnl/ONNXToKrnlCommon.cpp
  src/Conversion/ONNXToKrnl/ONNXToKrnlCommon.hpp
  src/InitOMPasses.hpp
  src/MainUtils.cpp
  src/Pass/Passes.hpp
  src/Transform/BundleMemoryPools.cpp
  src/Transform/CMakeLists.txt
  src/Transform/EnableMemoryPool.cpp
  test/mlir/krnl/krnl_bundle_memory_pool.mlir
  test/mlir/onnx/onnx_bundle_memory_pool.mlir
Labels: optimizations

#202 changes for mypipeline.onnx
  src/Builder/FrontendDialectTransformer.cpp
  src/Builder/MLOpBuildTable.inc
  src/Dialect/ONNX/ONNXOps.td.inc
  utils/gen_onnx_mlir.py
Labels: ONNX ingestion

#204 Add emitjni target
  .buildbot/z13.sh
  src/CMakeLists.txt
  src/ExternalUtil.hpp.in
  src/MainUtils.cpp
  src/MainUtils.hpp
  src/Runtime/CMakeLists.txt
  src/Runtime/RtMemRef.cpp
  src/Runtime/RtMemRef.h
  src/Runtime/jni/CMakeLists.txt
  src/Runtime/jni/com_ibm_onnxmlir_DynEntryPoint.h
  src/Runtime/jni/jnidummy.c
  src/Runtime/jni/jnilog.c
  src/Runtime/jni/jnilog.h
  src/Runtime/jni/jniwrapper.c
  src/Runtime/jni/src/com/ibm/onnxmlir/DynEntryPoint.java
  src/Runtime/jni/src/com/ibm/onnxmlir/OrderedRtMemRefDict.java
  src/Runtime/jni/src/com/ibm/onnxmlir/RtMemRef.java
  src/Tool/ONNXMLIROpt/CMakeLists.txt
  src/main.cpp
  test/numerical/TestConv.cpp
Labels: JNI

#199 Seq type
  docs/Dialects/onnx.md
  src/Dialect/ONNX/ONNXOps.cpp
  src/Dialect/ONNX/ONNXOps.hpp
  src/Dialect/ONNX/ONNXOps.td
  src/Dialect/ONNX/ONNXOps.td.inc
  test/mlir/onnx/onnx_structure.mlir
  utils/gen_onnx_mlir.py
Labels: ONNX ingestion
